@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
:root {
  --font-grotesk: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", monospace;
}

/* Global Reset */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-grotesk);
  background: #000;            /* PURE DARK */
  color: #e5e7eb;              /* Tailwind gray-200 */
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* Hacker-style scrollbar */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background: #000000; /* slate-900 */
  border-radius: 999px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #000000; /* slate-800 */
}
